# 시리즈 만들기

In [2]:
# 판다스의 Series메서드에 리스트를 전달하여 시리즈를 생성
import pandas as pd
s=pd.Series(['banana',42])
print(s)

# 시리즈를 생성할 때 문자열을 인덱스로 지정할 수 있음
# ndex인자를 통해 인덱스로 사용하고자 하는 문자열을 리스트에 담아 전달
s = pd.Series(['Wes McKinney', 'Creator of Pandas'])
print(s)

s = pd.Series(['Wes McKinney', 'Creator of Pandas'], index=['Person','Who'])
print(s)

0    banana
1        42
dtype: object
0         Wes McKinney
1    Creator of Pandas
dtype: object
Person         Wes McKinney
Who       Creator of Pandas
dtype: object

# 데이터프레임 만들기

In [3]:
# 딕셔너리를 DataFrame 클래스에 전달

scientists = pd.DataFrame({
'Name' : ['Rosaline Franklin', 'William Gosset'],
'Occupation' : ['Chemist', 'Statistician'],
'Born' : ['1920-07-25', '1876-06-13'],
'Died' : ['1958-04-16', '1937-10-16'],
'Age': [37, 61]}
)
print(scientists)

# 시리즈와 마찬가지로 인덱스를 따로 지정하려면 index인자에 리스트 전달
# columns인자를 사용하면 데이터프레임의 열 순서를 지정할 수 있음
scientists = pd.DataFrame(
    data ={
        'Occupation' : ['Chemist', 'Statistician'],
        'Born' : ['1920-07-25', '1876-06-13'],
        'Died' : ['1958-04-16', '1937-10-16'],
        'Age': [37, 61]},
    index=['Rosaline Franklin', 'William Gosset'],
    columns=['Occupation','Born','Age','Died']
)
print(scientists)

                Name    Occupation        Born        Died  Age
0  Rosaline Franklin       Chemist  1920-07-25  1958-04-16   37
1     William Gosset  Statistician  1876-06-13  1937-10-16   61
                     Occupation        Born  Age        Died
Rosaline Franklin       Chemist  1920-07-25   37  1958-04-16
William Gosset     Statistician  1876-06-13   61  1937-10-16

# 데이터프레임에서 시리즈 선택하기

In [4]:
scientists = pd.DataFrame(
    data ={
        'Occupation' : ['Chemist', 'Statistician'],
        'Born' : ['1920-07-25', '1876-06-13'],
        'Died' : ['1958-04-16', '1937-10-16'],
        'Age': [37, 61]},
    index=['Rosaline Franklin', 'William Gosset'],
    columns=['Occupation','Born','Died','Age']
)

# 데이터프레임에서 시리즈를 선택하려면 loc속성에 인덱스를 전달
first_row = scientists.loc['William Gosset']
print(type(first_row))


# Age열에 정수형 리스트를 전달해도 시리즈를 출력해보면
# 시리즈의 자료형을 오브젝트로 인식하는 것을 알 수 있음
print(first_row)

<class 'pandas.core.series.Series'>
Occupation    Statistician
Born            1876-06-13
Died            1937-10-16
Age                     61
Name: William Gosset, dtype: object

# index, values, keys 사용하기

In [5]:
# index속성 - 시리즈의 인덱스를 확인
print(first_row.index)

# values속성 - 시리즈의 데이터를 확인
print(first_row.values)

# keys메서드 - index속성과 같은 역할(시리즈의 인덱스를 확인)
print(first_row.keys())


# index속성의 첫 번째 값을 추출
print(first_row.index[0])

# keys메서드의 결괏값을 이용하여 인덱스의 첫 번째 값을 추출
print(first_row.keys()[0])

Index(['Occupation', 'Born', 'Died', 'Age'], dtype='object')
['Statistician' '1876-06-13' '1937-10-16' 61]
Index(['Occupation', 'Born', 'Died', 'Age'], dtype='object')
Occupation
Occupation

# 시리즈의 mean, min, max, std 메서드 사용하기

In [6]:
ages = scientists['Age']
print(ages)

# 시리즈를 구성하는 데이터가 정수라면
# mean, min, max, std와 같은 통계 메서드를 사용할 수 있음
print(ages.mean())
print(ages.min())
print(ages.max())
print(ages.std())


# 시리즈에서 자주 사용되는 메서드
###################################
# append : 2개 이상의 시리즈 연결
# describe : 요약 통계량 계산
# drop_duplicates : 중복값이 없는 시리즈 반환
# equals : 시리즈에 해당 값을 가진 요소가 있는지 확인
# get_values : 시리즈 값 구하기(values 속성과 동일)
# isin : 시리즈에 포함된 값이 있는지 확인
# min : 최솟값 반환
# max : 최댓값 반환
# mean : 산술 평균 반환
# median : 중간값 반환
# replace : 특정 값을 가진 시리즈 값을 교체
# sample : 시리즈에서 임의의 값을 반환
# sort_values : 값을 정렬
# to_frame : 시리즈를 데이터프레임으로 변환

Rosaline Franklin    37
William Gosset       61
Name: Age, dtype: int64
49.0
37
61
16.97056274847714

# 시리즈와 불린 추출 사용하기

In [7]:
# 추출할 데이터의 정확한 인덱스를 모를 때 불린 추출을 사용하여
# 특정 조건을 만족하는 값만 추출
scientists = pd.read_csv('../data/scientists.csv')

ages = scientists['Age']
print(ages.max())
print(ages.mean())

# 통계 수치의 결괏값을 이용하여 불린 추출
# 평균 나이보다 나이가 많은 사람의 데이터만 출력
print(ages[ages > ages.mean()])

# 조건식을 만족한 값만 출력
print(ages > ages.mean())
print(type(ages > ages.mean()))

# 리스트 형태로 참이나 거짓을 담아 시리즈에 전달하면 참인 인덱스의 데이터만 추출 가능
manual_bool_values = [True, True, False, False, True, True, False, True]
print(ages[manual_bool_values])

90
59.125
1    61
2    90
3    66
7    77
Name: Age, dtype: int64
0    False
1     True
2     True
3     True
4    False
5    False
6    False
7     True
Name: Age, dtype: bool
<class 'pandas.core.series.Series'>
0    37
1    61
4    56
5    45
7    77
Name: Age, dtype: int64

# 시리즈와 브로드캐스팅

In [8]:
# 시리즈나 데이터프레임에 있는 모든 데이터에 대해 한 번에 연산하는 것을
# 브로드캐스팅(Broadcasting)이라고 함

# 같은 길이의 벡터로 더하기 연산과 곱하기 연산을 수행
# 같은 길이의 벡터가 출력됨
print(ages + ages)

# 벡터에 스칼라를 연산한 경우
print(ages + 100)
print(ages * 2)

# 길이가 서로 다른 벡터를 연산한 경우
# 시리즈와 시리즈를 연산하는 경우에는 같은 인덱스의 값만 계산

print(pd.Series([1,100]))
print(ages + pd.Series([1,100]))

# 인덱스 순서대로 정렬된 ages와 인덱스의 역순으로 정렬된 rev_age 연산
# sort_index 메서드를 사용하여 인덱스 역순으로 데이터 정렬
rev_ages = ages.sort_index(ascending=False)
print(rev_ages)

print(ages + rev_ages)
# 벡터와 벡터의 연산은 일치하는 인덱스의 값끼리 수행

0     74
1    122
2    180
3    132
4    112
5     90
6     82
7    154
Name: Age, dtype: int64
0    137
1    161
2    190
3    166
4    156
5    145
6    141
7    177
Name: Age, dtype: int64
0     74
1    122
2    180
3    132
4    112
5     90
6     82
7    154
Name: Age, dtype: int64
0      1
1    100
dtype: int64
0     38.0
1    161.0
2      NaN
3      NaN
4      NaN
5      NaN
6      NaN
7      NaN
dtype: float64
7    77
6    41
5    45
4    56
3    66
2    90
1    61
0    37
Name: Age, dtype: int64
0     74
1    122
2    180
3    132
4    112
5     90
6     82
7    154
Name: Age, dtype: int64

# 데이터프레임과 불린 추출

In [9]:
# 데이터프레임의 Age열에서 Age열의 평균보다 높은 행만 출력
print(scientists[scientists['Age'] > scientists['Age'].mean()])

# 참, 거짓을 담은 리스트를 bool 벡터라고 부름
# 데이터프레임의 loc속성에 길이가 4인 bool벡터를 전달
print(scientists.loc[[True, True, False, True]])

                   Name        Born        Died  Age     Occupation
1        William Gosset  1876-06-13  1937-10-16   61   Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   90          Nurse
3           Marie Curie  1867-11-07  1934-07-04   66        Chemist
7          Johann Gauss  1777-04-30  1855-02-23   77  Mathematician

IndexError: Boolean index has wrong length: 4 instead of 8

# 데이터프레임과 브로드캐스팅

In [10]:
# 데이터프레임에 스칼라 연산 적용
# 시리즈와 같은 결과
print(scientists * 2)
# 정수 데이터는 2를 곱한 값이 되고, 문자열 데이터는 문자열이 2배로 늘어남

                                       Name                  Born  \
0        Rosaline FranklinRosaline Franklin  1920-07-251920-07-25
1              William GossetWilliam Gosset  1876-06-131876-06-13
2  Florence NightingaleFlorence Nightingale  1820-05-121820-05-12
3                    Marie CurieMarie Curie  1867-11-071867-11-07
4                Rachel CarsonRachel Carson  1907-05-271907-05-27
5                        John SnowJohn Snow  1813-03-151813-03-15
6                    Alan TuringAlan Turing  1912-06-231912-06-23
7                  Johann GaussJohann Gauss  1777-04-301777-04-30

                   Died  Age                            Occupation
0  1958-04-161958-04-16   74                        ChemistChemist
1  1937-10-161937-10-16  122              StatisticianStatistician
2  1910-08-131910-08-13  180                            NurseNurse
3  1934-07-041934-07-04  132                        ChemistChemist
4  1964-04-141964-04-14  112                    BiologistBiologist
5  1858-06-161858-06-16   90                    PhysicianPhysician
6  1954-06-071954-06-07   82  Computer ScientistComputer Scientist
7  1855-02-231855-02-23  154            MathematicianMathematician

# 열의 자료형 바꾸기와 새로운 열 추가하기

In [19]:
# 날짜를 입력한 열의 자료형 확인
print(scientists['Born'].dtype)
print(scientists['Died'].dtype)

# 날짜를 문자열로 저장한 데이터는 시간 관련 작업을 할 수 있도록 
# datetime자료형으로 바꾸는 것이 더 좋음
born_datetime = pd.to_datetime(scientists['Born'], format='%Y-%m-%d')
print(born_datetime)
died_datetime = pd.to_datetime(scientists['Died'], format='%Y-%m-%d')
print(died_datetime)

# 데이터프레임에 새로운 열로 추가
scientists['born_dt'], scientists['died_dt'] = (born_datetime, died_datetime)
print(scientists.head())

# 8행 7열로 2열이 추가 된 것을 확인
print(scientists.shape)

# died_dt열에서 born_dt를 빼기
scientists['age_days_dt'] = (scientists['died_dt'] - scientists['born_dt'])
print(scientists)

object
object
0   1920-07-25
1   1876-06-13
2   1820-05-12
3   1867-11-07
4   1907-05-27
5   1813-03-15
6   1912-06-23
7   1777-04-30
Name: Born, dtype: datetime64[ns]
0   1958-04-16
1   1937-10-16
2   1910-08-13
3   1934-07-04
4   1964-04-14
5   1858-06-16
6   1954-06-07
7   1855-02-23
Name: Died, dtype: datetime64[ns]
                   Name        Born        Died  Age    Occupation    born_dt  \
0     Rosaline Franklin  1920-07-25  1958-04-16   37       Chemist 1920-07-25
1        William Gosset  1876-06-13  1937-10-16   61  Statistician 1876-06-13
2  Florence Nightingale  1820-05-12  1910-08-13   90         Nurse 1820-05-12
3           Marie Curie  1867-11-07  1934-07-04   66       Chemist 1867-11-07
4         Rachel Carson  1907-05-27  1964-04-14   56     Biologist 1907-05-27

     died_dt
0 1958-04-16
1 1937-10-16
2 1910-08-13
3 1934-07-04
4 1964-04-14
(8, 7)
                   Name        Born        Died  Age          Occupation  \
0     Rosaline Franklin  1920-07-25  1958-04-16   37             Chemist
1        William Gosset  1876-06-13  1937-10-16   61        Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   90               Nurse
3           Marie Curie  1867-11-07  1934-07-04   66             Chemist
4         Rachel Carson  1907-05-27  1964-04-14   56           Biologist
5             John Snow  1813-03-15  1858-06-16   45           Physician
6           Alan Turing  1912-06-23  1954-06-07   41  Computer Scientist
7          Johann Gauss  1777-04-30  1855-02-23   77       Mathematician

     born_dt    died_dt age_days_dt
0 1920-07-25 1958-04-16  13779 days
1 1876-06-13 1937-10-16  22404 days
2 1820-05-12 1910-08-13  32964 days
3 1867-11-07 1934-07-04  24345 days
4 1907-05-27 1964-04-14  20777 days
5 1813-03-15 1858-06-16  16529 days
6 1912-06-23 1954-06-07  15324 days
7 1777-04-30 1855-02-23  28422 days

# 시리즈, 데이터프레임의 데이터 섞어보기

In [26]:
# 판다스는 시리즈나 데이터프레임의 데이터를 무작위로 섞어볼 수 있음
print(scientists['Age'])

# 데이터를 섞기 위해서는 random라이브러리의 shuffle 메서드 사용
import random
random.seed(42)
random.shuffle(scientists['Age'])
print(scientists['Age'])

0    90
1    66
2    61
3    41
4    77
5    45
6    56
7    37
Name: Age, dtype: int64
0    41
1    77
2    56
3    37
4    61
5    45
6    90
7    66
Name: Age, dtype: int64

# 데이터프레임의 열 삭제하기

In [30]:
print(scientists.columns)

# 데이터프레임에서 열을 삭제하려면 데이터프레임의 drop메서드 사용
scientists_dropped = scientists.drop(['Age'], axis=1)
print(scientists_dropped.columns)

# drop메서드는 결과값을 반환하는 메서드이기 때문에 원본인 scientists의 Age열은 그대로임

Index(['Name', 'Born', 'Died', 'Age', 'Occupation', 'born_dt', 'died_dt',
       'age_days_dt'],
      dtype='object')
Index(['Name', 'Born', 'Died', 'Occupation', 'born_dt', 'died_dt',
       'age_days_dt'],
      dtype='object')

# 피클 형식으로 저장하기

In [34]:
# 피클은 데이터를 바이너리 형태로 직렬화한 오브젝트를 저장하는 방법
# 스프레드시트보다 더 작은 용량으로 데이터를 저장할 수 있음
# to_pickle 메서드를 사용, 저장경로는 문자열로 전달
names = scientists['Name']
names.to_pickle('../output/scientists_names_series2.pickle')

# 데이터프레임도 피클로 저장할 수 있음
scientists.to_pickle('../output/scientists_df2.pickle')

# 피클 데이터는 반드시 read_pickle메서드로 읽어들여야 함
scientist_names_from_pickle = pd.read_pickle('../output/scientists_names_series2.pickle')
print(scientist_names_from_pickle)

scientist_from_pickle = pd.read_pickle('../output/scientists_df2.pickle')
print(scientist_from_pickle)

0       Rosaline Franklin
1          William Gosset
2    Florence Nightingale
3             Marie Curie
4           Rachel Carson
5               John Snow
6             Alan Turing
7            Johann Gauss
Name: Name, dtype: object
                   Name        Born        Died  Age          Occupation  \
0     Rosaline Franklin  1920-07-25  1958-04-16   41             Chemist
1        William Gosset  1876-06-13  1937-10-16   77        Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   56               Nurse
3           Marie Curie  1867-11-07  1934-07-04   37             Chemist
4         Rachel Carson  1907-05-27  1964-04-14   61           Biologist
5             John Snow  1813-03-15  1858-06-16   45           Physician
6           Alan Turing  1912-06-23  1954-06-07   90  Computer Scientist
7          Johann Gauss  1777-04-30  1855-02-23   66       Mathematician

     born_dt    died_dt age_days_dt
0 1920-07-25 1958-04-16  13779 days
1 1876-06-13 1937-10-16  22404 days
2 1820-05-12 1910-08-13  32964 days
3 1867-11-07 1934-07-04  24345 days
4 1907-05-27 1964-04-14  20777 days
5 1813-03-15 1858-06-16  16529 days
6 1912-06-23 1954-06-07  15324 days
7 1777-04-30 1855-02-23  28422 days

# CSV 불러오기

In [35]:
# csv 파일은 데이터를 쉼표로 구분하여 저장한 파일
# tsv 파일은 데이터를 탭으로 구분하여 저장한 파일

# to_csv 메서드로 시리즈와 데이터프레임을 csv파일로 저장할 수 있음
# sep 인자를 추가하여 '\t'를 지정하고 파일의 확장자를 '.tsv'로 지정하면 tsv파일로 저장
names.to_csv('../output/scientist_names_series2.csv')
scientists.to_csv('../output/scientists_df2.tsv', sep='\t')

In [39]:
# 시리즈는 엑셀 구조와 맞지 않기 때문에 엑셀 파일로 저장할 수 없음
# 따라서 엑셀 파일로 저장하기 위해서는 데이터프레임으로 변환해야 함
names_df = names.to_frame()
print(name_df)
# xls파일로 저장하려면 xlwt라이브러리가 필요하고,
# xlsx파일로 저장하려면 openpyxl라이브러리가 필요
import xlwt
names_df.to_excel('../output/scientists_names_df2.xls')

import openpyxl
names_df.to_excel('../output/scientists_names_df2.xlsx')

                   Name
0     Rosaline Franklin
1        William Gosset
2  Florence Nightingale
3           Marie Curie
4         Rachel Carson
5             John Snow
6           Alan Turing
7          Johann Gauss