# 제곱 함수와 n 제곱 함수 만들기

In [1]:
# 제곱 함수
def my_sq(x):
    return x ** 2

# n제곱 함수
def my_exp(x, n):
    return x ** n

print(my_sq(4))

print(my_exp(2, 4))

16
16

# 시리즈와 apply 메서드

In [9]:
import pandas as pd

df = pd.DataFrame({'a':[10,20,30], 'b':[20,30,40]})
print(df)

print("")
print("============================================================================")
print("")

# a열에 직접 2를 제곱
print(df['a'] ** 2)

print("")
print("============================================================================")
print("")

# apply메서드에 제곱 함수의 이름을 전달하여 시리즈의 모든 데이터에 제곱 함수 적용
# 이때 apply메서드에 전달하는 함수가 1개의 인자를 받도록 구성되어 있다면 인자값 생략
sq=df['a'].apply(my_sq)
print(sq)

print("")
print("============================================================================")
print("")

# 2개의 인자를 전달해야 하는 함수의 경우, apply메서드의 첫 번째 인자에는 함수이름, 두 번째 인자에는 함수의 두 번째 인자 전달
ex = df['a'].apply(my_exp, n=2)
print(ex)
ex = df['a'].apply(my_exp, n=3)
print(ex)

    a   b
0  10  20
1  20  30
2  30  40

============================================================================

0    100
1    400
2    900
Name: a, dtype: int64

============================================================================

0    100
1    400
2    900
Name: a, dtype: int64

============================================================================

0    100
1    400
2    900
Name: a, dtype: int64
0     1000
1     8000
2    27000
Name: a, dtype: int64

# 데이터 프레임과 apply 메서드

In [19]:
df = pd.DataFrame({'a':[10,20,30], 'b':[20,30,40]})

# 1개의 값을 전달받아 출력하는 함수
def print_me(x):
    print(x)


# 데이터프레임에 함수를 적용해야 할 때는 axis 인자값을 0이나 1로 지정하여 함수를 열 방향으로 적용할지 행 방향으로 적용할지 정해야 함
print_me(df.apply(print_me, axis=0))
print("============================================================================")
print_me(df.apply(print_me, axis=1))

print("")
print("============================================================================")
print("")

# 3개의 인자를 입력받아 평균을 계산하는 함수
def avg_3(x,y,z):
    return (x + y + z) / 3

# avg_3함수를 apply메서드에 전달하면 'avg_3 함수는 3개의 인자값을 필요로하는 함수인데 1개의 인자값만 입력받았다'는 오류메시지 출력됨
# avg_3함수에 열 단위 데이터(df['a']또는 df['b'])가 전달되었고 이 값을 avg_3함수에서 1개의 인자로 인식한 것

#print(df.apply(avg_3))

# avg_3함수가 열 단위로 데이터를 처리할 수 있도록 수정해야 함
def avg_3_apply(col):
    x = col[0]
    y = col[1]
    z = col[2]
    return (x + y + z) / 3

print(df.apply(avg_3_apply))

print("")
print("============================================================================")
print("")

# 데이터프레임의 행 개수를 모를 때에는 for문을 이용
def avg_3_apply(col):
    sum = 0
    for item in col:
        sum += item
    return sum / df.shape[0]

print(df.apply(avg_3_apply))

print("")
print("============================================================================")
print("")

# 행 방향으로 함수를 적용
def avg_2_apply(col):
    sum = 0
    for item in col:
        sum += item
    return sum / df.shape[1]

print(df.apply(avg_2_apply, axis=1))

0    10
1    20
2    30
Name: a, dtype: int64
0    20
1    30
2    40
Name: b, dtype: int64
a    None
b    None
dtype: object
============================================================================
a    10
b    20
Name: 0, dtype: int64
a    20
b    30
Name: 1, dtype: int64
a    30
b    40
Name: 2, dtype: int64
0    None
1    None
2    None
dtype: object

============================================================================

a    20.0
b    30.0
dtype: float64

============================================================================

a    20.0
b    30.0
dtype: float64

============================================================================

0    15.0
1    25.0
2    35.0
dtype: float64

# 데이터프레임의 누락값을 처리한 다음 apply 메서드 사용하기 - 열 방향

In [22]:
import seaborn as sns

# seaborn 라이브러리의 titanic데이터 집합 사용
titanic = sns.load_dataset("titanic")
print(titanic.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    object
 3   age          714 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   fare         891 non-null    float64
 7   embarked     889 non-null    object
 8   class        891 non-null    category
 9   who          891 non-null    object
 10  adult_male   891 non-null    bool
 11  deck         203 non-null    category
 12  embark_town  889 non-null    object
 13  alive        891 non-null    object
 14  alone        891 non-null    bool
dtypes: bool(2), category(2), float64(2), int64(4), object(5)
memory usage: 80.6+ KB
None

In [23]:
import numpy as np

# 누락값의 개수를 반환하는 count_missing함수
def count_missing(vec):
    null_vec = pd.isnull(vec)
    null_count = np.sum(null_vec)
    return null_count

cmis_col = titanic.apply(count_missing)
print(cmis_col)

survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

In [26]:
# 누락값의 비율을 계산하는 prop_missing함수
def prop_missing(vec):
    num = count_missing(vec)
    dem = vec.size
    return num / dem

pmis_col = titanic.apply(prop_missing)
print(pmis_col)

print("")
print("============================================================================")
print("")

# 누락값이 아닌 데이터의 비율을 구하는 함수
def prop_complete(vec):
    return 1 - prop_missing(vec)

pcom_col = titanic.apply(prop_complete)
print(pcom_col)

survived       0.000000
pclass         0.000000
sex            0.000000
age            0.198653
sibsp          0.000000
parch          0.000000
fare           0.000000
embarked       0.002245
class          0.000000
who            0.000000
adult_male     0.000000
deck           0.772166
embark_town    0.002245
alive          0.000000
alone          0.000000
dtype: float64

============================================================================

survived       1.000000
pclass         1.000000
sex            1.000000
age            0.801347
sibsp          1.000000
parch          1.000000
fare           1.000000
embarked       0.997755
class          1.000000
who            1.000000
adult_male     1.000000
deck           0.227834
embark_town    0.997755
alive          1.000000
alone          1.000000
dtype: float64

# 데이터프레임의 누락값을 처리한 다음 apply 메서드 사용하기 - 행 방뱡

In [28]:
cmis_row = titanic.apply(count_missing, axis=1)
pmis_row = titanic.apply(prop_missing, axis=1)
pcom_row = titanic.apply(prop_complete, axis=1)

print(cmis_row.head())

print("")
print("============================================================================")
print("")

print(pmis_row.head())

print("")
print("============================================================================")
print("")

print(pcom_row.head())

0    1
1    0
2    1
3    0
4    1
dtype: int64

============================================================================

0    0.066667
1    0.000000
2    0.066667
3    0.000000
4    0.066667
dtype: float64

============================================================================

0    0.933333
1    1.000000
2    0.933333
3    1.000000
4    0.933333
dtype: float64

In [29]:
# 누락값의 개수를 구하여 titanic 데이터프레임에 추가
titanic['num_missing'] = titanic.apply(count_missing, axis=1)
print(titanic.head())

   survived  pclass     sex   age  sibsp  parch     fare  ...    who adult_male deck  embark_town alive  alone num_missing
0         0       3    male  22.0      1      0   7.2500  ...    man       True  NaN  Southampton    no  False           1
1         1       1  female  38.0      1      0  71.2833  ...  woman      False    C    Cherbourg   yes  False           0
2         1       3  female  26.0      0      0   7.9250  ...  woman      False  NaN  Southampton   yes   True           1
3         1       1  female  35.0      1      0  53.1000  ...  woman      False    C  Southampton   yes  False           0
4         0       3    male  35.0      0      0   8.0500  ...    man       True  NaN  Southampton    no   True           1

[5 rows x 16 columns]

In [30]:
# 누락값이 2개 이상인 데이터 추출
print(titanic.loc[titanic.num_missing > 1, :].sample(10))

     survived  pclass     sex  age  sibsp  parch  ...  adult_male deck  embark_town alive  alone num_missing
533         1       3  female  NaN      0      2  ...       False  NaN    Cherbourg   yes  False           2
47          1       3  female  NaN      0      0  ...       False  NaN   Queenstown   yes   True           2
464         0       3    male  NaN      0      0  ...        True  NaN  Southampton    no   True           2
82          1       3  female  NaN      0      0  ...       False  NaN   Queenstown   yes   True           2
502         0       3  female  NaN      0      0  ...       False  NaN   Queenstown    no   True           2
454         0       3    male  NaN      0      0  ...        True  NaN  Southampton    no   True           2
181         0       2    male  NaN      0      0  ...        True  NaN    Cherbourg    no   True           2
109         1       3  female  NaN      1      0  ...       False  NaN   Queenstown   yes  False           2
367         1       3  female  NaN      0      0  ...       False  NaN    Cherbourg   yes   True           2
301         1       3    male  NaN      2      0  ...        True  NaN   Queenstown   yes  False           2

[10 rows x 16 columns]