In [2]:
import pandas as pd
import glob
import sweetviz as sv

# 랜덤

In [3]:
randoms = glob.glob('random*') # fhv_로 시작하는 파일
print(randoms)

random_df = []
for xlsx_filename in randoms:
    df = pd.read_csv(xlsx_filename, encoding='cp949')
    random_df.append(df)

random_df = pd.concat(random_df)
print(random_df.shape)

['random1.CSV', 'random2.CSV']
(2602, 366)

In [4]:
# 전체 데이터 개수
random_total=random_df.groupby(['SQ1','SQ2_R_R']).count()['SEQ']
print(random_total)

# SQ4=6 아웃 개수
print(random_df[random_df['SQ4']==6].shape)

# 성 연령 별 아웃 개수
random_out=random_df[random_df['SQ4']==6].groupby(['SQ1','SQ2_R_R']).count()['SEQ']
print(random_out)

# 아웃 비율
random_outper=random_out/random_total*100
print(random_outper)

SQ1  SQ2_R_R
1.0  1.0        258
     2.0        308
     3.0        384
     4.0        330
2.0  1.0        320
     2.0        242
     3.0        412
     4.0        311
Name: SEQ, dtype: int64
(328, 366)
SQ1  SQ2_R_R
1.0  1.0        45
     2.0        50
     3.0        53
     4.0        40
2.0  1.0        36
     2.0        20
     3.0        51
     4.0        33
Name: SEQ, dtype: int64
SQ1  SQ2_R_R
1.0  1.0        17.441860
     2.0        16.233766
     3.0        13.802083
     4.0        12.121212
2.0  1.0        11.250000
     2.0         8.264463
     3.0        12.378641
     4.0        10.610932
Name: SEQ, dtype: float64

# 부스터

In [5]:
boosters = glob.glob('booster*')
print(randoms)

booster_df = []
for xlsx_filename in boosters:
    df = pd.read_csv(xlsx_filename, encoding='cp949')
    booster_df.append(df)

booster_df = pd.concat(booster_df)
print(booster_df.shape)

['random1.CSV', 'random2.CSV']
(17933, 366)

In [6]:
# 전체 데이터 개수
booster_total=booster_df.groupby(['SQ1','SQ2_R_R']).count()['SEQ']
print(booster_total)

# SQ4=6 아웃 개수
print(random_df[random_df['SQ4']!=5].shape)

# 성 연령 별 아웃 개수
booster_out=random_df[random_df['SQ4']!=5].groupby(['SQ1','SQ2_R_R']).count()['SEQ']
print(booster_out)

# 아웃 비율
booster_outper=booster_out/booster_total*100
print(booster_outper)

SQ1  SQ2_R_R
1.0  1.0         602
     2.0        2389
     3.0        3277
     4.0        1961
2.0  1.0        1422
     2.0        3333
     3.0        3228
     4.0        1497
Name: SEQ, dtype: int64
(2589, 366)
SQ1  SQ2_R_R
1.0  1.0        255
     2.0        308
     3.0        384
     4.0        329
2.0  1.0        318
     2.0        241
     3.0        408
     4.0        309
Name: SEQ, dtype: int64
SQ1  SQ2_R_R
1.0  1.0        42.358804
     2.0        12.892424
     3.0        11.718035
     4.0        16.777155
2.0  1.0        22.362869
     2.0         7.230723
     3.0        12.639405
     4.0        20.641283
Name: SEQ, dtype: float64

In [7]:
my_report = sv.analyze(booster_df[['SEQ','LOI(s)']])
my_report.show_html()

HBox(children=(HTML(value=''), FloatProgress(value=0.0, layout=Layout(flex='2'), max=3.0), HTML(value='')), la…

Report SWEETVIZ_REPORT.html was generated! NOTEBOOK/COLAB USERS: the web browser MAY not pop up, regardless, the report IS saved in your notebook/colab files.

In [8]:
print(booster_df)

        SEQ  GROUP_ID                                   UID  \
0     17694       NaN  00609bcd-9c3a-5eb2-b351-08e81a3f3776
1     17747       NaN  011e23fe-ee05-53e3-a216-b6d9e5d84db6
2     17616       NaN  01b83906-b05b-5c76-a0cb-f03cd5eef0b4
3     17708       NaN  01d9422c-87a4-53f5-8168-6549d579dd2f
4     17822       NaN  0209cc05-0a5e-538b-ac31-34148bf6712c
...     ...       ...                                   ...
1929   1784       NaN  feec2d55-08af-50c3-a340-17a1ff630757
1930   1535       NaN  feefa4c1-e601-58ac-a325-aa0018021d1a
1931   1537       NaN  ff6b9d37-361e-5c80-86ef-ef4d11ca5c81
1932    234       NaN  ff7a21f2-864d-5413-b9bf-97086a4b5aab
1933    843       NaN  ffb93973-8767-5386-8880-270eabecb9b9

                   START_TIME                 END_TIME  LOI(s) ACCESS_KEY  \
0     2021-03-21 04:11:24.077  2021-03-21 04:11:46.705      22        HUB
1     2021-03-21 06:48:28.451  2021-03-21 06:48:50.025      21        HUB
2     2021-03-21 02:17:50.830  2021-03-21 02:18:32.304      41        HUB
3     2021-03-21 05:02:43.172  2021-03-21 05:03:27.396      44        HUB
4     2021-03-21 08:25:56.773  2021-03-21 08:26:15.220      18        HUB
...                       ...                      ...     ...        ...
1929  2021-03-18 19:55:24.817  2021-03-18 19:55:42.825      18        HUB
1930  2021-03-18 17:57:30.220  2021-03-18 17:57:56.952      26        HUB
1931  2021-03-18 17:59:07.331  2021-03-18 17:59:32.965      25        HUB
1932  2021-03-18 13:45:14.507  2021-03-18 13:45:44.361      29        HUB
1933  2021-03-18 15:07:07.520  2021-03-18 15:07:48.095      40        HUB

                                             USER_AGENT              IP  \
0     Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...    122.37.58.78
1     Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...  211.198.144.58
2     Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...   220.72.55.183
3     Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...  222.237.84.154
4     Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...   49.171.228.42
...                                                 ...             ...
1929  Mozilla/5.0 (Windows NT 10.0; WOW64; Trident/7...  182.209.182.48
1930  Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...   211.207.71.10
1931  Mozilla/5.0 (Windows NT 6.3; Win64; x64) Apple...   61.255.207.84
1932  Mozilla/5.0 (Linux; Android 11; SAMSUNG SM-N97...  175.211.22.224
1933  Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...  115.90.211.227

                    DATA_TIME  ... E8_4 E8_5 E8_6  E8_7  E8_8  E8_9  E8_10  \
0     2021-03-21 04:11:46.705  ...  NaN  NaN  NaN   NaN   NaN   NaN    NaN
1     2021-03-21 06:48:50.025  ...  NaN  NaN  NaN   NaN   NaN   NaN    NaN
2     2021-03-21 02:18:32.304  ...  NaN  NaN  NaN   NaN   NaN   NaN    NaN
3     2021-03-21 05:03:27.396  ...  NaN  NaN  NaN   NaN   NaN   NaN    NaN
4     2021-03-21 08:26:15.220  ...  NaN  NaN  NaN   NaN   NaN   NaN    NaN
...                       ...  ...  ...  ...  ...   ...   ...   ...    ...
1929  2021-03-18 19:55:42.825  ...  NaN  NaN  NaN   NaN   NaN   NaN    NaN
1930  2021-03-18 17:57:56.952  ...  NaN  NaN  NaN   NaN   NaN   NaN    NaN
1931  2021-03-18 17:59:32.965  ...  NaN  NaN  NaN   NaN   NaN   NaN    NaN
1932  2021-03-18 13:45:44.361  ...  NaN  NaN  NaN   NaN   NaN   NaN    NaN
1933  2021-03-18 15:07:48.095  ...  NaN  NaN  NaN   NaN   NaN   NaN    NaN

      E8_11  E8_12  E8_13
0       NaN    NaN    NaN
1       NaN    NaN    NaN
2       NaN    NaN    NaN
3       NaN    NaN    NaN
4       NaN    NaN    NaN
...     ...    ...    ...
1929    NaN    NaN    NaN
1930    NaN    NaN    NaN
1931    NaN    NaN    NaN
1932    NaN    NaN    NaN
1933    NaN    NaN    NaN

[17933 rows x 366 columns]